/* 
    Document   : filepicker.css
    Created on : 20-10-2008, 23:26:06
    Author     : mp
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

