html {
   overflow : hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: 100%;
}

div#AllAdmin {
    position: absolute;
    top: 26px;
    width: 100%;
    height: 90%;
    overflow: auto;
    overflow-x: hidden;
}

