body {
  margin:0;
  padding:0; 
}

#full-fp fieldset { 
  padding: 0;
  margin-bottom: 0.5em;
}

#full-fp legend { 
  padding-left: 0.25em;
  padding-right: 0.5em;
}

#full-fp h3 { 
  padding: 0;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#full-fp { 
  padding: 0.5em;
}

#full-fp table { 
  width: 100%;
}
