/* CMS Made Simple - NCleanGrey Theme version 1.3*/
/* 2008 (c) Nuno Costa - nuno.mfcosta@sapo.pt [criacaoweb.net] */
/* CSS for OLD and  NO standart browser IE6 */
ul#nav li ul  {
filter: alpha(opacity=95);
}
/* Nav Tools  */
div.MainMenu { 
filter: alpha(opacity=90);
}
.group_memberships
{
 width: 15em;
}
	
/* ########### Notifications #################*/
div#MainContent div.full-Notifications
{
 width:98%;
 padding-left:10px;
}

/* ########### Dashboard page! #################*/
div#MainContent .full-content
{
 width:99%;

}
.coredashboardcontent 
{
	width:98%;
	margin:5px 0 5px 5px;
}
/*NOT CORE*/
.moduledashboardcontent 
 {
  width:48.5%; 
  margin:5px 0 5px 4px;
 }
