/* Stylesheet by Christian Page for CMS: CMS Made Simple, June, July 2004
	this is freesoftware as defined by the GPL version 2 or later
	christian at localdesert.com
	http://www.localdesert.com/christian
*/

body {
	font-family : Arial, Helvetica;
	margin: 0px;
	padding: 0px;
	background: #fff;
	color: #64879d;
	font-size : 10pt;
}

a:link, a:active, a:visited {
	color : #64879d;
	text-decoration : none;
}

a:hover {
	color: red;
	text-decoration: none;
}

h1, h2, h3, h4, h5, p {
	font-size: 12pt;
	font-weight: bold;
	color: #64879d;
}			       	       

/* start navigation style */

div.nav {
	float: left;
	width: 150px;
	background: #EDF2F5;
	padding: 0px;
	margin: 1em;
	margin-right: 20px;
	border: 1px solid #64879d;
}

div.nav h4 {
	margin: 0;
	background: #EDF2F5;
	color: #67AACB;
	font-size : 10pt;
	font-weight: bold;
	padding: 0;
	margin: 1em;
	text-align: center;
}

div.nav a {
	display: block;
	margin: 0;
	width: auto;
	padding: 0.3em;
	border-top: 1px solid #64879d;
	color: #67AACB;
	text-decoration: none;
}

div.nav a:hover {
	background: #67AACB;
	color: #fff;
}

div.nav form {
	text-align: center;
	left-margin: auto;
	right-margin: auto;
	padding-bottom: 2px;
	margin-bottom: 4px;
}

/* end navigation style */

/* start content style */

#header	{
	background: #EDF2F5;
	color: #64879d;
	padding: 8px;
	border-bottom: 2px solid #64879d;
	height: 100px;
}

#logo {
	position: absolute;
	left: 10px;
	top: 10px;
}

#footer	{
/*	background: #EDF2F5;
	color: #64879d;
	padding: 8px;
	border: 2px solid #64879d;
*/
}
			
#login	{
	background: #EDF2F5;
	color: #64879d;
	width: 320px;
	height: 120px;
	padding: 10px;
	border: 2px solid #64879d;
	margin-top: 10px;
	position: absolute;
	left: 100px;
	top: 50px;
}

#table { margin-top: 20px; }

#loginlogo { float: right; }

div.content {
	height: 100%;
	color: #000;

}

/* end content style */

/* start table style */

table.admintable {
	background: #67AACB;
	color: #EDF2F5;
	border: 1px solid #67AACB;
	font-weight: bold;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom: 15px;
	width: 76%;
}

table.admintable td {
	padding: 4px;
}

.row1, .row2 {
	color: #64879d;
	border: #64879d;
	font-weight: normal;
}

.row1 {	background: #EDF2F5; }
.row2 {	background: #dbe6ec; }

.button a, .button a:link, .button a:active, .button a:visited {
	background: #EDF2F5;
	color: #64879d;
	padding: 4px;
	border: 1px solid #64879d;
}

.button a:hover {
	background: #dbe6ec;
	color: #64879d;
	padding: 4px;
	border: 1px solid #64879d;
}

.smallselect {
	font-size: 70%;
}

/* end table style */

/* start form style */

div.adminform {
	background: #EDF2F5;
	color: #64879d;
	border: 1px solid #64879d;
	padding: 8px;
	margin-top: 10px;
	margin-right: 10px;
	/*margin-left: 180px;*/
	position: absolute;
	left: 200px;
}

/* end form style */

.error { color: #F00; }
