#primary-nav, #primary-nav ul { 
	margin: 0px; 
	padding: 0px; 
	list-style: none; 
	}
#primary-nav ul { 
	border: 1px solid #d2d2d2; 
	left: -999em; 
	margin-left: -11px; 
	margin-top: 5px; 
	position: absolute; 
	width: 126px; }
#primary-nav ul ul { 
	margin-top: -18px; 
	margin-left: 118px; 
	}

#primary-nav a { 
	color: #18507C; 
	display: block; 
	font-size: 12px; 
	text-decoration: none; 
	}
#primary-nav ul a { 
	width: 110px; 
	}

#primary-nav li { 
	background-color: #FFFFFF; 
	border-right: 1px solid #00ACE6; 
	background-image: url(../images/primary-navc.gif); 
	background-position: top right; 
	background-repeat: no-repeat; 
	float: left; padding: 5px 10px 5px 10px; 
	}
#primary-nav ul li { 
	background-color: #F7F9FB; 
	background-image: none; 
	border: none; clear: left; 
	padding: 3px 8px 3px 8px; 
	}
#primary-nav li.active { 
	background-color: #E5EAF1; 
	background-image: url(../images/primary-navcb.gif); 
	background-position: top right; 
	background-repeat: no-repeat; 
	}	
#primary-nav li.menuparent { 
	background-image: url(../images/primary-navp.gif); 
	background-position: center right; 
	background-repeat: no-repeat; 
	}

#primary-nav li:hover, #primary-nav li.over { 
	background-color: #E5EAF1; 
	background-image: url(../images/primary-navcb.gif); 
	background-position: top right; 
	background-repeat: no-repeat; 
	}
#primary-nav li li:hover, #primary-nav li li.over { 
	background-image: none; 
	background-position: center right; 
	background-repeat: no-repeat; 
	}
#primary-nav li.menuparent:hover { 
	background-color: #E5EAF1; 
	background-image: url(../images/primary-navp.gif); 
	background-position: center right; 
	background-repeat: no-repeat; 
	}

#primary-nav li:hover ul ul, 
#primary-nav li:hover ul ul ul, 
#primary-nav li.over ul ul, 
#primary-nav li.over ul ul ul { 
	left: -999em; 
	}
#primary-nav li:hover ul, 
#primary-nav li li:hover ul, 
#primary-nav li li li:hover ul, 
#primary-nav li.over ul, 
#primary-nav li li.over ul, 
#primary-nav li li li.over ul { 
	left: auto; 
	}	

