body {font-face: arial, helvetica;}
ul {list-style: none;}

a {font-face: arial, helvetica; text-decoration: none; color: black;}
a:visited { color:black; }
a:hover { color: red; }
a:active { color: red; }

.menu_horiz { display: inline; font-weight: bold; text-decoration: none; }
.menu_vert { display: inline; text-decoration: none; }

#box { width: 90%; margin: 10px auto; background-color: white; color: black; line-height: 130%; }
#topnav { padding: .5em; background-color: white; border-bottom: 1px solid gray; }
#leftcolumn { float: left; width: 160px; margin: 0; padding: 1em; }
#main { margin-left: 200px; border-left: 1px solid gray; padding: 1em; }
#footer { clear: both; margin: 0; padding: .5em; color: black; background-color: white; }

#topmenu {padding:5px; margin:5px;}
#topmenu ul {display: inline; float:left;}
#topmenu li {display: inline; float:left; margin-right: 10px;}
#topmenu a {color: #0000aa;}
#topmenu a.active {color: #00ff00;}
#topmenu a.current {color: #ff0000;}

#leftmenu {padding:5px; margin:5px;}
#leftmenu ul {padding:0; margin-left: 10px;}
#leftmenu a {color: #0000aa;}
#leftmenu a.active {color: #00ff00;}
#leftmenu a.current {color: #ff0000;}
