/*! normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
[hidden] {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
body, button, input, select, textarea {
	font-family: sans-serif;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}
h1 {
	font-size: 2em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
small {
	font-size: 75%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
ul, ol {
	margin-left: 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul, nav ol {
	list-style: none;
	list-style-image: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 0;
}
form {
	margin: 0;
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	*margin-left: -7px;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	*
	overflow: visible;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CLEARFIX */

* html .cf {
	height: 1%;
	overflow: visible;
}
*+ html .cf {
	min-height: 1%;
}
.cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clear {
	clear: both;
	height: 0;
}
/* COMMON STUFF */
/* dont break layout */
img {
	max-width: 100%;
}
/* Notification messages */
.message {
	display: block;
	padding: 10px 10px 10px 55px;
	margin: 10px 0;
}

.message p {
	color: #222;
	margin:0;
}
.warning {
	background: #feffc8 url(themes/noname/images/layout/warning.png) 10px 50% no-repeat;
	border: 1px solid #f1aa2d;
	border-radius: 3px;
}
.error {
	background: #fdcea4 url(themes/noname/images/layout/block.png) 10px 50% no-repeat;
	border: 1px solid #c44509;
	border-radius: 3px;
}
.success {
	background: #d4f684 url(themes/noname/images/layout/accept.png) 10px 50% no-repeat;
	border: 1px solid #739f1d;
	border-radius: 3px;
}
.information {
	background: #c3e4fd url(themes/noname/images/layout/info.png) 10px 50% no-repeat;
	border: 1px solid #688fdc;
	border-radius: 3px;
}
.message:hover {
	cursor: help;
}
/* LAYOUT */
/* Login Page */
body.login {
	background: #f6f6f6;
	font: normal 14px /1.3 Tahoma, sans-serif;
}
	.login .top {
		height: 45px;
		background: #e5e5e5 url(themes/noname/images/layout/login-top-bg.gif) repeat-x;
		color: #222;
		border-bottom: 1px solid #fff;
		padding: 0 20px;
		line-height: 45px;
	}
		.login .top a.logo {
			display: inline-block;
			height: 45px;
			width: 146px;
			float: left;
		}
		.login .top a.home {
			display: block;
			height: 45px;
			width: 32px;
			float: right;
			text-indent: -9999em;
			background: url(themes/noname/images/layout/home-button.png) no-repeat center;
		}
		.login .top h1 {
			display: inline-block;
			font-size: 14px;
			margin: 0 0 0 20px;
			float:left;
			height: 45px;
			color: #8d8d8d;
		}
	.login .bottom {
		width: 690px;
		margin: 10em auto 20px auto;
		padding-bottom: 18px;
		font: normal 11px /1.3 sans-serif;
		background: url(themes/noname/images/layout/bottom-shadow.png) no-repeat center bottom;
	}
		.login .bottom .container {
			width: 500px;
			padding: 15px;
			margin: auto;
			background: #ededed url(themes/noname/images/layout/login-bg.gif) repeat-x top;
			border: 2px solid #efefef;
			border-radius: 0 25px 0 0;
		}
			.login .bottom h2 {
				color: #f79838;
				margin-top: 0;
			}
			p.login-info {
				background: url(themes/noname/images/layout/info-icon.png) no-repeat left;
				padding-left: 38px;
				font: bold 14px /30px sans-serif;
				color: #8d8d8d;
				text-shadow: 0 1px 1px #fff;
			}
			.login .bottom ol {
				padding:0;
				margin-left: 20px;
			}
			.login p.forgotpw {
				text-align: right;
				margin-bottom: 0;
			}
			.login p.forgotpw a{
				padding-left: 20px;
				background: url(themes/noname/images/layout/help.png) left 50% no-repeat;
				color: #222;
				text-decoration: none;
			}
	.login .copyright {
		width: 690px;
		margin: auto;
		text-align: center;
	}
		.login .copyright .small {
			background: #feffc8 url(themes/noname/images/layout/exclamation.png) no-repeat 10px 50%;
			border: 1px solid #f1aa2d;
			color: #8d8d8d;
			border-radius: 3px;
			display: inline-block;
			text-align: center;
			width: auto;
			padding: 5px 5px 5px 30px;
			font-size: 11px;
		}
		.login small {
			text-align: center;
			font-size: 12px;
			color: #8d8d8d;
			display: block;
		}
		.login small a {
			color: #8d8d8d;
			text-decoration: none;
			font-weight: bold;
		}
/* login form */
.login fieldset {
	border: none;
	border-bottom: 1px solid #fff;
}
.login p.left, .login p.right {
	float:left;
	width: 50%;
	display: inline;
}
.login label {
	color: #8d8d8d;
	font-size: 12px;
	margin-bottom: 5px;
	display: inline-block;
	font-weight: bold;
}
.login input[type="password"],
.login input.focus,
.login input[type="text"] {
	border: 1px solid #bbb;
	border-radius: 3px;
	line-height: 28px;
	height: 28px;
	width: 220px;
	background: #efefef;
	outline: 0;
	text-indent: 10px;
	font normal 11px/22px 'Lucida Console', 'Monaco', monospace;
	margin-bottom: 5px;
}
.login input[type="password"]:focus,
.login input[type="text"]:focus {
	background: #fff;
}

.login input[type="submit"] {
	height: 28px;
	color: #8d8d8d;
	font-weight: bold;
	width: auto;
	padding: 0 15px;
	margin-right: 8px;
	border: 1px solid #bbb;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-radius: 3px;
	outline: 0;
	background: #dddbdb url(themes/noname/images/layout/submit-bg.gif) repeat-x bottom;
}

.login input[type="submit"]:focus, 
.login input[type="submit"]:hover {
	background: #ff9223 url(themes/noname/images/layout/submit-hover.gif) repeat-x bottom;
	border: 1px solid #fd860d;
	border-top: 1px solid #fdd580;
	border-left: 1px solid #fdd580;
	color: #fff;
}

