/**
 * HTML Tags
 */
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
    background: white;
}

a {color: black; font-weight: bold;}
a:link {color: black; font-weight: bold;}
a:visited  {color: black; font-weight: bold;}
a:active  {color: black; font-weight: bold;}

iframe {
	width: 100%;
}


/**
 * Generic content tags
 */
#MainContent {
	padding-top: 5px;
	margin-left: 130px;
	margin-bottom: 30px;
    text-align:left;
}

h1,h2,h3 {text-align: left;}

.login {
    width: 450px;
    left: 30%;
    position: relative;
}

/**
 * Top Menu
 */
#TopMenu {
	width: 118px;
	background-color: #e0e0e0;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
	padding-top: 65px;
	height: 100%;
}

html>body #TopMenu {
    top: 0px;
	position: fixed;
    }

#TopMenu ul {
    padding: 2px;
    margin: 0;
}

#TopMenu li {
    margin: 0;
    padding: 0;
    margin: 5px;
    margin-left: 0;
    list-style: none;
}

#TopMenu a {
    padding: 2px;
	color: black;
	text-decoration: none;
}

#TopMenu a:hover {
	padding: 2px;
	color: black;
	}

#TopMenu .selected {
	border: solid 2px white;
	padding: 2px;

}


/**
 * Main (and sub) Menu
 */
.MainMenu {
	width: 500px;
}

.MainMenuItem {
	padding: 5px;
	margin: 10px;
	border: solid 1px #666;
	background-color: white;
}

.MainMenuItem a {
	font-size: 16px;
}

.MainMenuItem .description {
	font-size: 12px;
	display: block;
}

.MainMenuItem .description a {
	font-size: 12px;
}


#AdminHeader {
    background: transparent url('themes/monochrome/images/logo9.gif') no-repeat;
    height: 60px;
    width: 120px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 100;
}

html>body #AdminHeader {
    left: 0px;
    top: 0px;
    position: fixed;
}

/**
 * Footer
 */
#Footer {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
	font-size: 10px;
	background-color: #e0e0e0;
	text-align: center;
    bottom: 0px;
	width: 100%;
	heigth: 15px;
	overflow: auto;
	position: absolute;
}

html>body #Footer {
    bottom: 0px;
	position: fixed;
    }

#DebugFooter {
	margin-top: 10px;
	font-size: 8px;
	padding: 5px;
	background-color: white;
}

/**
 * Tables
 */
.AdminTable {
	border: 1px solid #666;
	margin-bottom: 15px;
}

.AdminTable th {
	background-color: #e0e0e0;
}

.AdminTable thead tr {
	background-color: #e0e0e0;
}

.AdminTable tr.row1 {
	background-color: white;
}

.AdminTable tr.row2 {
	background-color: #e0e0e0;
}


.AdminTable td,
.AdminTable th {
	padding: 2px; 
}

.AdminForm, .adminformSmall {
    width: 95%;
    margin-top: 22px;
    padding: 10px;
    padding-top: 5px;
    background: #e0e0e0;
}

.AdminForm tbody th {
	text-align: right;
	padding-right: 5px;
	font-weight: normal;
	background: transparent;
}

.DashboardCalloutTitle {
	font-weight: bold;
	text-align: center;
	margin-top: 2px;
}

.AdminForm	th, .AdminForm td
{
	padding: 2px;
}

.recent
{
    margin: 0;
    padding: 0;
    font-size: 9px;
}

.recent ul
{
    margin: 0;
    margin-left: 15px;
    padding: 0;
    display: inline;
}

.recent li
{
    margin: 0;
    padding: 2px;
    margin-left: 5px;
    display: inline;
}

.recent a
{
    font-weight: normal;
}

#bookmarks
{
    visibility: hidden;
    width: 200px;
    left: 130px;
    top: 0;
    background-color: white;
    border: solid 1px black;
    position: absolute;
	font-size: 10px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0px;
	margin-top: 15px;
	position: absolute;
}

#bookmarks h2
{
    font-size: 10px;
    font-weight: bold;
}

#bookmarks ul
{
    margin: 0;
    padding: 0;
}

#bookmarks li
{
    margin: 0;
    padding: 2px;
    margin-left: 5px;
    list-style: decimal inside;
}

.clearbox {text-align:left;}

/**
 * For tab list
 */
.tab-content {
	border: 1px solid #666;
	clear: both;
	background: white;
	padding: 5px;
    margin-top: 0px;
    width: 95%;
}


#tab-header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#tab-header ul#tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tab-header ul#tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

#tab-header ul#tab-list a,#tab-header ul#tab-list span,#tab-header ul#tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#tab-header ul#tab-list span,#tab-header ul#tab-list a.tab-active,#tab-header ul#tab-list a.tab-active:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: white;
	padding-bottom: 6px;
	margin-top: 0;
}

/* a link in a background tab */
#tab-header ul#tab-list a {
	background: #e0e0e0;
	border: 1px solid #666;
	border-bottom: none;
}

/* hover on a background tab */
#tab-header ul#tab-list a:hover {
	border-color: #666;
	background: white;
	/*padding-bottom: 4px;*/
}

.tab  /* the heading that became the li */
{
	display: none;
}

.tab-content {background: white; }
