/**
 * HTML Tags
 */
body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
    background: #F1F2EC url('themes/bluewater/images/lukewarmsea.jpg') repeat-x;
}

a {color: #1C639B;}
a:link {color: #1C639B;}
a:visited  {color: #1C639B;}
a:active  {color: #83D5D1;}

iframe {
    width: 600px;
	height: 400px;
}


/**
 * Generic content tags
 */
#MainContent {
	padding-top: 55px;
	margin-left: 15px;
	margin-bottom: 30px;
}

.login {
width: 100%
}

.login #logo {
top: 5px;
left: 5px;;
position: absolute;
}

.login #logintable {
top: 45px;
position: absolute;
}

.clearbox {
    text-align:left;
}


/**
 * Top Menu
 */
#TopMenu {
	background-color: #1C639B;
	position: absolute;
	top: 0;
	left: 60px;
	padding: 5px;
}

#TopMenu ul {
    padding: 0px;
    margin: 0px;
    float: left;
    display:block;
}

#TopMenu ul li {
    list-style:none;
    float: left;
    display:block;
    padding: 0px;
    margin: 0px;
}

html>body #TopMenu {
    top: 0px;
	position: fixed;
    }

#nav, #nav ul { list-style: none; padding: 0; margin: 0; }
#nav a { display: block; color: white; text-decoration: none; margin-top: 2px; margin-left: 5px; margin-right: 5px;}
#nav li a { font-size: 13px; padding-bottom: 2px; }
#nav li ul a { text-align: left; padding-bottom: 0px; }
#nav a.selected { background-color: #23A9C4; }
#nav li { float: left; padding: 0; }
#nav li.selected { background-color: #23A9C4; }
#nav li ul { position: absolute; display: none; height: auto; width: 139px; background: #1C639B; font-weight: normal; margin: 0; }
#nav li li { width: 140px; }
#nav li ul ul { margin: -18px 0 0 140px; }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.cssHover ul ul, #nav li.cssHover ul ul ul { display: none; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.cssHover ul, #nav li li.cssHover ul, #nav li li li.cssHover ul { display: block; }
#nav li:hover, #nav li.cssHover { background: #23A9C4; }




/**
 * Main (and sub) Menu
 */
.MainMenu {
	width: 500px;
}

.MainMenuItem {
	padding: 5px;
	margin: 10px;
	border: solid 1px #666;
	background-color: #ebebeb;
}

.MainMenuItem a {
	font-size: 16px;
}

.MainMenuItem .description {
	font-size: 12px;
	display: block;
}

.MainMenuItem .description a {
	font-size: 12px;
}


.logo {
    left: 0px;
    top: 0px;
    position: fixed;
    height: 60px;
    width: 60px;
}


/**
 * Footer
 */

html>body #Footer {
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
	font-size: 10px;
	background-color: #d0d0e7;
	text-align: center;
    bottom: 0px;
	width: 100%;
	heigth: 15px;
	overflow: auto;
	position: fixed;
    }


#DebugFooter {
	margin-top: 10px;
	font-size: 8px;
	padding: 5px;
	background-color: #e7e7e7;
}

/**
 * Tables
 */
.AdminTable {
	border: 1px solid #666;
	margin-bottom: 15px;
}

.AdminTable th {
	background-color: #3DC2D5;
}

.AdminTable thead tr {
	background-color: #3DC2D5;
}

.AdminTable tr.row1 {
	background-color: #ffffff;
}

.AdminTable tr.row2 {
	background-color: #e0e0e0;
}


.AdminTable td,
.AdminTable th {
	padding: 2px; 
}

.AdminForm, .adminformSmall {
    width: 95%;
    background: url('themes/bluewater/images/shadow.png');
}

.AdminForm tbody th {
	text-align: right;
	padding-right: 5px;
	font-weight: normal;
	background: transparent;
}

/**
 * Callout boxes
 */

.rightcol {
	width: 200px;
	font-size: 10px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0px;
	margin-top: 15px;
	position: absolute;
	right:15px;
	top: 18px;
}

.rightcol ul {
    padding: 2px;
}

.rightcol li {
    list-style: decimal inside;
}

.DashboardCalloutTitle {
	font-weight: bold;
	text-align: center;
	margin-top: 2px;
}

.AdminForm	th, .AdminForm td
{
	padding: 2px;
}


/**
 * For tab list
 */
.tab-content {
	border: 1px solid #666;
	clear: both;
	background: white; /*#FFF3B3;*/
	padding: 5px;
    margin-top: 0px;
    width: 95%;
}


#tab-header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#tab-header ul#tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tab-header ul#tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

#tab-header ul#tab-list a,#tab-header ul#tab-list span,#tab-header ul#tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#tab-header ul#tab-list span,#tab-header ul#tab-list a.tab-active,#tab-header ul#tab-list a.tab-active:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #D4DED6;
	padding-bottom: 6px;
	margin-top: 0;
}

/* a link in a background tab */
#tab-header ul#tab-list a {
	/*background: #FFFAE1;*/
	background: #bbb;
	border: 1px solid #666;
	border-bottom: none;
}

/* hover on a background tab */
#tab-header ul#tab-list a:hover {
	border-color: #666;
	background: #D4DEEE;
	/*padding-bottom: 4px;*/
}

/* admin tab details. Probably could bear some help from Akra :) */
#admin-tab-container .tab-content {
	border: 1px solid #666;
	clear: both;
	background: white; /*#FFF3B3;*/
	padding: 5px;
    margin-top: 19px;
    width: 100%;
}


#admin-tab-header ul#admin-tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	top: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#admin-tab-header ul#admin-tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

#admin-tab-header ul#admin-tab-list a,#admin-tab-header ul#admin-tab-list span,#admin-tab-header ul#admin-tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	text-decoration: none;
	color: black;
}

#admin-tab-header ul#admin-tab-list span,#admin-tab-header ul#admin-tab-list a.tab-active,#admin-tab-header ul#admin-tab-list a.tab-active:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: white;
	padding-bottom: 6px;
	margin-top: 0;
}

/* a link in a background tab */
#admin-tab-header ul#admin-tab-list a {
	background: #e0e0e0;
	border: 1px solid #666;
	border-bottom: none;
}

/* hover on a background tab */
#admin-tab-header ul#admin-tab-list a:hover {
	border-color: #666;
	background: white;
}



.tab  /* the heading that became the li */
{
	display: none;
}

.tab-content {background: #D4DED6; }
