/* Stylesheet by Christian Page for CMS: CMS Made Simple, June 2004
	this is freesoftware as defined by the GPL version 2 or later
	christian@localdesert.com
	www.localdesert.com/christian
*/

body{
	font-family : Arial, sans-serif ;
	margin: 0px;
	padding: 0px;
	background: #fff;
	color: #000000;
	font-size : 10pt;
}

a:link, a:active, a:visited {
	color : #333333;
	text-decoration : none;
}

a:hover {
	color: #000;
	text-decoration : underline;
}

h1, h2, h3, h4, h5, p {
	font-size : 10pt;
	text-decoration : none;
}			       	       

#header	{
	background: #EDF2F5;
	color: #64879d;
	padding: 8px;
	border-bottom: 2px solid #64879d;
	height: 116px;
}

#logo {
	position: absolute;
	right: 10px;
	top: 10px;
}

#footer	{
/*	background: #EDF2F5;
	color: #64879d;
	padding: 8px;
	border: 2px solid #64879d;
*/
}
			
#login	{
	background: #EDF2F5;
	color: #64879d;
	width: 320px;
	height: 120px;
	padding: 10px;
	border: 2px solid #64879d;
	margin-top: 10px;
	position: absolute;
	left: 100px;
	top: 50px;
}

#table {
	margin-top: 20px;
}

#loginlogo {
	float: right;
}

#nav	{
	border: 1px solid #64879d;
	width: 150;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: left;
}

#nav ul {
	list-style: none;
	padding: 0px;
	margin: 0;
}

#nav li.sub {
	color: #64879d;
	background: #EDF2F5;
	font-weight: bold;
	padding: 0px;
}

#nav .title {
	padding: 4px;
	text-align: center;
}

#nav li a {
	display: block;
	background: #EDF2F5;
	color: #000;
	border-top: 1px solid #64879d;
	border-bottom: 1px solid #64879d;
	margin: 0px;
	padding: 4px;
}

#nav a:link, #nav a:active, #nav a:visited {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: #64879d;
	font-size: 10px;
}

#nav li.item a:hover, ul.sub li.item a:hover  {
	display: block;
	color: #ffffff;
	background: #67AACB;
	border-top: 1px solid #64879d;
	border-bottom: 1px solid #64879d;
	text-decoration: none;
}

.content {
	color: #000;
	margin-left: 200px;
}

.error {
	color: #F00;
}
