/**
 * HTML Tags
 */
body {
	font-family: helvetica, impact, sans-serif;
	font-size: .9em;
	margin: 0;
}

iframe {
	width: 100%;
}

/**
 * Generic content tags
 */
#MainContent {
	padding-top: 30px;
	margin-left: 15px;
	margin-bottom: 30px;
}

/**
 * Login Page
 */
#login {
	padding-right: 0px;
	margin-top: 0px;
	padding-left: 0px;
	background: #FFFDFA;
	padding-bottom: 0px;
	width: 411px;
	color: #64879d;
	padding-top: 0px;
	position: absolute;
	top: 20%;
	height: 270px;
	left: 20%;
	border: 1px solid #CCCCCC;
}
#logintable {
	position: absolute;
	top: 120px;
	height: 130px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 6px;
	margin-top: 6px;
	width: 300px;
	right: 2px;
	left: 100px;
	border: 1px #CCCCCC solid;
	background-color: #FFF7F0;
	color: #333333;
}
#loginbox {
	position: absolute;
	top: 150px;
	left: 30px;
}

/**
 * Top Menu
 */
#TopMenu {
	width: 99%;
	background-color: #d0d0e7;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}

#TopMenu a {
	padding-left: 5px;
	padding-right: 5px;
}

#TopMenuSelected {
	background-color: #e0e0f7;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.Error {
	color: red;
}

/**
 * Main (and sub) Menu
 */
.MainMenu {
	width: 500px;
}

.MainMenuItem {
	padding: 5px;
	margin: 10px;
	border: solid 1px #666;
	background-color: #ebebeb;
}

.MainMenuItem a {
	font-size: 1.2em;
}

.MainMenuItem .description {
	font-size: .8em;
	display: block;
}

.MainMenuItem .description a {
	font-size: 1em;
}


/**
 * Tables
 */
.AdminTable {
	border: 1px solid #666;
	margin-bottom: 15px;
}

.AdminTable thead tr {
	background-color: #7fef7f;
}

.AdminTable tr.row1 {
	background-color: #f0f0f0;
}

.AdminTable td,
.AdminTable th {
	padding: 2px; 
}

/**
 * Forms
 */

/*
.AdminForm,
.AdminForm th,
.AdminForm td,
.AdminForm input,
.AdminForm select {
	font-size: 80%;
}
*/

.AdminForm,
.AdminForm input,
.AdminForm select {
	font-size: 80%;
}

.AdminForm tbody th {
	text-align: right;
	padding-right: .5em;
	font-weight: normal;
}

/**
 * Callout boxes
 */

.DashboardCalloutTitle {
	font-weight: bold;
	text-align: center;
	margin-top: 2px;
}

.rightcol {
	width: 150px;
	font-size: 10px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	margin: 0px;
	margin-top: 15px;
	position: absolute;
	right:15px;
	top: 14px;
}

.rightcol ul {
    padding: 2px;
}

.rightcol li {
    list-style: decimal inside;
}

.clearbox {text-align:left;}

/**
 * Footer
 */
#Footer {
	margin-top: 1em;
	padding: .5em;
	font-size: .7em;
	background-color: #d0d0e7;
	text-align: center;
}

#DebugFooter {
	margin-top: 1em;
	font-size: .7em;
	padding: .5em;
	background-color: #e7e7e7;
}

.AdminForm	th, .AdminForm td
{
	padding: 2px;
}


/**
 * For tab list
 */
.tab-content {
	border: 1px solid #666;
	clear: both;
	background: white; /*#FFF3B3;*/
	padding: 0.5em;
}


#tab-header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#tab-header ul#tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#tab-header ul#tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

#tab-header ul#tab-list a,#tab-header ul#tab-list span,#tab-header ul#tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#tab-header ul#tab-list span,#tab-header ul#tab-list a.tab-active,#tab-header ul#tab-list a.tab-active:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: white;
	padding-bottom: 6px;
	margin-top: 0;
}

/* a link in a background tab */
#tab-header ul#tab-list a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	border-bottom: none;
}

/* hover on a background tab */
#tab-header ul#tab-list a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
}

/* admin tab details. Probably could bear some help from Akra :) */
#admin-tab-container .tab-content {
	border: 1px solid #666;
	clear: both;
	background: white; /*#FFF3B3;*/
	padding: 0.5em;
}


#admin-tab-header {
	position: relative;
	width: 100%;
	height: 3em;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#admin-tab-header ul#admin-tab-list {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -1px;
	width: 45em; /* a width is required for Opera, older Mozilla browsers, and Konqueror browsers */
}

#admin-tab-header ul#admin-tab-list li  {
	display: inline;
	list-style: none;
	margin: 0;
}

#admin-tab-header ul#admin-tab-list a,#admin-tab-header ul#admin-tab-list span,#admin-tab-header ul#admin-tab-list a.tab-active {
	width: 8em;
	display: block;
	float: left;
	padding: 4px 0;
	margin: 1px 2px 0 0;
	text-align: center;
	font-family: tahoma, verdana, sans-serif;
	font-size: 85%;
	text-decoration: none;
	color: #333;
}

#admin-tab-header ul#admin-tab-list span,#admin-tab-header ul#admin-tab-list a.tab-active,#admin-tab-header ul#admin-tab-list a.tab-active:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: white;
	padding-bottom: 6px;
	margin-top: 0;
}

/* a link in a background tab */
#admin-tab-header ul#admin-tab-list a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	border-bottom: none;
}

/* hover on a background tab */
#admin-tab-header ul#admin-tab-list a:hover {
	margin-top: 0;
	border-color: #666;
	background: #FFF7CD;
	padding-bottom: 5px;
}


.tab  /* the heading that became the li */
{
	display: none;
}
