/**
 * HTML Tags
 */
body {
	font-family: helvetica, impact, sans-serif;
	font-size: .9em;
	margin: 0;
}

iframe {
	width: 100%;
}


/**
 * Generic content tags
 */
#MainContent {
	padding-top: 30px;
	margin-left: 15px;
	margin-bottom: 30px;
}


/**
 * Top Menu
 */
#TopMenu {
	width: 99%;
	background-color: #d0d0e7;
	position: absolute;
	top: 0;
	padding: 5px;
}

#TopMenu a {
	padding-left: 5px;
	padding-right: 5px;
}

#TopMenuSelected {
	background-color: #e0e0f7;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
}


/**
 * Main (and sub) Menu
 */
.MainMenu {
	width: 500px;
}

.MainMenuItem {
	padding: 5px;
	margin: 10px;
	border: solid 1px #666;
	background-color: #ebebeb;
}

.MainMenuItem a {
	font-size: 1.2em;
}

.MainMenuItem .description {
	font-size: .8em;
	display: block;
}

.MainMenuItem .description a {
	font-size: 1em;
}


/**
 * Tables
 */
.AdminTable {
	border: 1px solid #666;
	margin-bottom: 15px;
}

.AdminTable thead tr {
	background-color: #7fef7f;
}

.AdminTable tr.row1 {
	background-color: #f0f0f0;
}

.AdminTable td,
.AdminTable th {
	padding: 2px; 
}

/**
 * Forms
 */

/*
.AdminForm,
.AdminForm th,
.AdminForm td,
.AdminForm input,
.AdminForm select {
	font-size: 80%;
}
*/

.AdminForm,
.AdminForm input,
.AdminForm select {
	font-size: 80%;
}

.AdminForm tbody th {
	text-align: right;
	padding-right: .5em;
	font-weight: normal;
}

/**
 * Callout boxes
 */
.DashboardCallout {
	width: 150px;
	float: right;
	font-size: .9em;
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	background-color: #a7e0a7;
	clear: right;
}

.DashboardCalloutTitle {
	font-weight: bold;
	text-align: center;
	margin-top: 2px;
}


/**
 * Footer
 */
#Footer {
	margin-top: 1em;
	padding: .5em;
	font-size: .7em;
	background-color: #d0d0e7;
	text-align: center;
}

#DebugFooter {
	margin-top: 1em;
	font-size: .7em;
	padding: .5em;
	background-color: #e7e7e7;
}


/**
 * For tab list
 */
.tabsystem {
	margin: 0px;
	border: none;
}

.tabsystem .tabcontainer ul, li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
}


.tabsystem .firstHeading {
	display: block;
	text-align: right;
	border: 1px #bbb dotted;
	border-width: 0px 0px 1px 0px;
	padding-bottom: .5em;
	margin-bottom: 1em;	
}

.tabsystem .tabcontainer {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border: none;
	float: left;
	filter: none;
}

.tabsystem .tabpage {
	background: #fff;
	padding: 2em 2em;
	color: black;
	border: 1px solid black; /*rgb( 145, 155, 156 );*/
	clear: both; 
	margin-right: 10px;
}



/* display of the tabs */
/* .tab = normal tab */
.tabsystem .tabcontainer .tab {
	position: relative;
	top: 0;
	display: inline;
	float: left;
	overflow: hidden;	
	margin: 1px 1px 1px 0px;
	padding: 2px 0px 0px 0px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	z-index: 1;
	font: 11px Tahoma;
	white-space: nowrap;
	text-align: center;
	width: 70px;
	height: 18px;
}

/* .tab-hover = normal tab when being hovered over */
.tabsystem .tabcontainer .tab-hover {
	margin: 1px 1px 1px 0px;
	width: 70px;
	height: 18px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	
	background-color: #d0d0e7;

}

/* .tab-active = the currently active tab */
.tabsystem .tabcontainer .tab-active{
	position: relative;
	top: 1px;
	display: inline;
	float: left;
	overflow: hidden;	
	margin: 1px 1px 1px 0px;
	padding: 2px 0px 0px 0px;
	z-index: 1;
	font: 11px Tahoma;
	white-space: nowrap;
	text-align: center;
	width: 74px;
	height: 18px;
	letter-spacing: 0px;
	text-decoration: none;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	
	font-weight: bold;
	background-color: #d0d0e7;
}


.AdminForm	th, .AdminForm td
{
	padding: 2px;
}