/**
 * HTML Tags
 */
body {
	font-family: helvetica, impact, sans-serif;
	font-size: .9em;
	margin: 0;
}

iframe {
	width: 100%;
}


/**
 * Generic content tags
 */
#MainContent {
	padding-top: 30px;
	margin-left: 15px;
	margin-bottom: 30px;
}


/**
 * Top Menu
 */
#TopMenu {
	width: 99%;
	background-color: #d0d0e7;
	position: absolute;
	top: 0;
	padding: 5px;
}

#TopMenu a {
	padding-left: 5px;
	padding-right: 5px;
}

#TopMenuSelected {
	background-color: #e0e0f7;
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
}


/**
 * Main (and sub) Menu
 */
.MainMenu {
	width: 500px;
}

.MainMenuItem {
	padding: 5px;
	margin: 10px;
	border: solid 1px #666;
	background-color: #ebebeb;
}

.MainMenuItem a {
	font-size: 1.2em;
}

.MainMenuItem .description {
	font-size: .8em;
	display: block;
}

.MainMenuItem .description a {
	font-size: 1em;
}


/**
 * Tables
 */
.AdminTable {
	border: 1px solid #666;
	margin-bottom: 15px;
}

.AdminTable thead tr {
	background-color: #7fef7f;
}

.AdminTable tr.row1 {
	background-color: #f0f0f0;
}

.AdminTable td,
.AdminTable th {
	padding: 2px; 
}

/**
 * Forms
 */
.AdminForm select,
.AdminForm input {
	width: 200px;
}

/**
 * Callout boxes
 */
.DashboardCallout {
	width: 150px;
	float: right;
	font-size: .9em;
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	background-color: #a7e0a7;
	clear: right;
}

.DashboardCalloutTitle {
	font-weight: bold;
	text-align: center;
	margin-top: 2px;
}


/**
 * Footer
 */
#Footer {
	margin-top: 1em;
	padding: .5em;
	font-size: .7em;
	background-color: #d0d0e7;
	text-align: center;
}

#DebugFooter {
	margin-top: 1em;
	font-size: .7em;
	padding: .5em;
	background-color: #e7e7e7;
}

